.admin-portlet {
    .kt-portlet__head-icon {
        i {
            font-size: 25px;
            color: $galungcolor;
        }
    }

    .kt-portlet__head-actions {
        .btn-tambah-data {
            i {
                font-size: 25px !important;
                color: $galungcolor;
            }

            &:hover {
                @extend %galung-button-fill;
            }

            &:hover i {
                color: #fff;
            }
        }
    }
}

.modal-admin {
    .modal-body {
        .button-add {
            border-top: 1px solid rgb(207, 207, 207);

            .btn-admin-add {
                @extend %galung-button-fill;
                width: 100%;
                margin: 20px 0 20px 0;

                &:hover {
                    background-color: $galungcolorhover !important;
                }
            }
        }
    }
}
