.admin-portlet {
    .kt-portlet__head-icon {
        i {
            font-size: 25px;
            color: $galungcolor;
        }
    }

    .kt-portlet__head-actions {
        .btn-tambah-data {
            i {
                font-size: 25px !important;
                color: $galungcolor;
            }

            &:hover {
                @extend %galung-button-fill;
            }

            &:hover i {
                color: #fff;
            }
        }
    }

    table {
        font-size: 15px !important;

        .btn-more-admin {
            @extend %galung-button-outline;

            i {
                font-size: 20px !important;
                color: $galungcolor;
            }

            &:hover {
                background-color: $galungcolor !important;
            }
        }

        .dropdown-table-admin {
            ul {
                .edit-admin {

                    &:hover .kt-nav__link-icon,
                    &:hover .kt-nav__link-text {
                        color: $biru !important;
                    }
                }

                .hapus-admin {

                    &:hover .kt-nav__link-icon,
                    &:hover .kt-nav__link-text {
                        color: $merah !important;
                    }
                }
            }
        }
    }
}

.modal-admin {
    .modal-body {
        .button-add {
            border-top: 1px solid rgb(207, 207, 207);

            .btn-admin-add {
                @extend %galung-button-fill;
                width: 100%;
                margin: 20px 0 20px 0;

                &:hover {
                    background-color: $galungcolorhover !important;
                }
            }
        }
    }
}
