.subheader-custom {
    margin-bottom: 30px !important;

    .kt-subheader__wrapper {
        .kt-subheader__btn-daterange {
            background-color: $galungcolor;
        }
    }
}

table {
    font-size: 15px !important;

    .btn-more-custom {
        @extend %galung-button-outline;

        i {
            font-size: 20px !important;
            color: $galungcolor;
        }

        &:hover {
            background-color: $galungcolor !important;
        }
    }

    .dropdown-table-custom {
        ul {
            .edit-data {

                &:hover .kt-nav__link-icon,
                &:hover .kt-nav__link-text {
                    color: $biru !important;
                }
            }

            .hapus-data {

                &:hover .kt-nav__link-icon,
                &:hover .kt-nav__link-text {
                    color: $merah !important;
                }
            }
        }
    }
}

.form-group {
    .input-group {
        input {
            transition: 0.5s !important;

            &:valid {
                border-color: $galungcolor !important;
                transition: 0.5s !important;
            }

            &:hover {
                border-color: $galungcolor !important;
                transition: 0.5s !important;
            }

        }

        i {
            color: $galungcolor !important
        }
    }
}

// modal
.modal-add {
    .modal-content {
        border-top: 7px solid $galungcolor !important;

        .modal-add-icon {
            position: absolute;
            text-align: center !important;
            width: 100% !important;
            transform: translateY(-30px);

            i {
                padding: 16px 15px 16px 15px;
                border-radius: 100px;
                font-size: 22px;
                color: #fff;
                background-color: $galungcolor;
            }
        }
    }
}

.modal-edit {
    .modal-content {
        border-top: 7px solid $biru !important;

        .modal-add-icon {
            position: absolute;
            text-align: center !important;
            width: 100% !important;
            transform: translateY(-30px);

            i {
                padding: 16px 15px 16px 15px;
                border-radius: 100px;
                font-size: 22px;
                color: #fff;
                background-color: $biru;
            }
        }
    }
}

// end modal
